@using BookStore.Models; 
@model IEnumerable<BookModel>
@{
    Layout = "_Layout";
}



<div class="container">
    <h1>All Books</h1>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4 my-3">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <small class="text-muted">@book.Author</small>
                        <p class="card-text">@book.Description</p>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
