@*@{ 
    ViewData["Title"] = "Home";
}*@

<section class="jumbotron text-center py-5">
    <div class="container">
        <h1>WELCOME TO BOOKSTORE</h1>
        <p class="lead text-muted">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non sodales neque sodales ut. Tincidunt id aliquet risus feugiat. Duis convallis convallis tellus id interdum velit laoreet id. Ac feugiat sed lectus vestibulum mattis. Et sollicitudin ac orci phasellus egestas. Auctor neque vitae tempus quam pellentesque nec nam.
        </p>
        <p>
            <a class="btn btn-primary my-2" href="#">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
/*            alert("The document is ready.");*/
        })
    </script>
 }
