
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="container">
    <h1> Welcome To Book Store Application</h1>
    <input type="button" value="click me" class="btn btn-dark" />


    <img class="logo" src="~/images/AkijLogo.png" />
    <script src="~/lib/jquery/jquery.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        alert("page reload");
    });
</script>
